/*@tailwind preflight;*/

.bg-red {
  background-color: #e3342f;
}

.bg-orange {
  background-color: #f6993f;
}

.bg-green {
  background-color: #38c172;
}

.rounded-4 {
  border-radius: .4rem;
}

.rounded-8 {
  border-radius: .8rem;
}

.rounded {
  border-radius: .4rem;
}

.rounded-lg {
  border-radius: .8rem;
}

.border-1 {
  border-width: 1px;
}

.border {
  border-width: 1px;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.flex {
  display: -webkit-box;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  -webkit-box-align: start;
          align-items: flex-start;
}

.items-end {
  -webkit-box-align: end;
          align-items: flex-end;
}

.items-center {
  -webkit-box-align: center;
          align-items: center;
}

.justify-end {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.flex-1 {
  -webkit-box-flex: 1;
          flex: 1 1 0%;
}

.flex-auto {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-no-grow {
  -webkit-box-flex: 0;
          flex-grow: 0;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.font-300 {
  font-weight: 300;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.h-8 {
  height: .8rem;
}

.h-16 {
  height: 1.6rem;
}

.h-40 {
  height: 4rem;
}

.h-48 {
  height: 4.8rem;
}

.h-64 {
  height: 6.4rem;
}

.h-96 {
  height: 9.6rem;
}

.h-200 {
  height: 20rem;
}

.h-full {
  height: 100%;
}

.leading-none {
  line-height: 1;
}

.m-8 {
  margin: .8rem;
}

.m-32 {
  margin: 3.2rem;
}

.mx-8 {
  margin-left: .8rem;
  margin-right: .8rem;
}

.my-16 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.my-24 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-0 {
  margin-top: 0;
}

.mr-4 {
  margin-right: .4rem;
}

.mb-4 {
  margin-bottom: .4rem;
}

.ml-4 {
  margin-left: .4rem;
}

.mt-8 {
  margin-top: .8rem;
}

.mr-8 {
  margin-right: .8rem;
}

.ml-8 {
  margin-left: .8rem;
}

.ml-12 {
  margin-left: 1.2rem;
}

.mt-16 {
  margin-top: 1.6rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.ml-16 {
  margin-left: 1.6rem;
}

.mb-32 {
  margin-bottom: 3.2rem;
}

.mt-48 {
  margin-top: 4.8rem;
}

.max-w-384 {
  max-width: 38.4rem;
}

.max-w-512 {
  max-width: 51.2rem;
}

.min-h-64 {
  min-height: 6.4rem;
}

.min-w-0 {
  min-width: 0;
}

.min-w-64 {
  min-width: 6.4rem;
}

.min-w-full {
  min-width: 100%;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.p-0 {
  padding: 0;
}

.p-4 {
  padding: .4rem;
}

.p-12 {
  padding: 1.2rem;
}

.p-16 {
  padding: 1.6rem;
}

.p-24 {
  padding: 2.4rem;
}

.p-32 {
  padding: 3.2rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-8 {
  padding-top: .8rem;
  padding-bottom: .8rem;
}

.px-8 {
  padding-left: .8rem;
  padding-right: .8rem;
}

.py-12 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.px-16 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pt-8 {
  padding-top: .8rem;
}

.pr-8 {
  padding-right: .8rem;
}

.pb-8 {
  padding-bottom: .8rem;
}

.pl-8 {
  padding-left: .8rem;
}

.pr-12 {
  padding-right: 1.2rem;
}

.pt-16 {
  padding-top: 1.6rem;
}

.pr-16 {
  padding-right: 1.6rem;
}

.pb-16 {
  padding-bottom: 1.6rem;
}

.pl-16 {
  padding-left: 1.6rem;
}

.pl-20 {
  padding-left: 2rem;
}

.pt-24 {
  padding-top: 2.4rem;
}

.pr-24 {
  padding-right: 2.4rem;
}

.pb-24 {
  padding-bottom: 2.4rem;
}

.pl-24 {
  padding-left: 2.4rem;
}

.pt-32 {
  padding-top: 3.2rem;
}

.pr-48 {
  padding-right: 4.8rem;
}

.pb-64 {
  padding-bottom: 6.4rem;
}

.pointer-events-none {
  pointer-events: none;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.pin-t {
  top: 0;
}

.pin-r {
  right: 0;
}

.pin-b {
  bottom: 0;
}

.pin-l {
  left: 0;
}

.shadow-none {
  box-shadow: none;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-red {
  color: #e3342f;
}

.text-green {
  color: #38c172;
}

.text-12 {
  font-size: 1.2rem;
}

.text-14 {
  font-size: 1.4rem;
}

.text-16 {
  font-size: 1.6rem;
}

.text-18 {
  font-size: 1.8rem;
}

.text-20 {
  font-size: 2rem;
}

.text-40 {
  font-size: 4rem;
}

.text-96 {
  font-size: 9.6rem;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.normal-case {
  text-transform: none;
}

.underline {
  text-decoration: underline;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.whitespace-no-wrap {
  white-space: nowrap;
}

.w-16 {
  width: 1.6rem;
}

.w-24 {
  width: 2.4rem;
}

.w-32 {
  width: 3.2rem;
}

.w-40 {
  width: 4rem;
}

.w-48 {
  width: 4.8rem;
}

.w-64 {
  width: 6.4rem;
}

.w-224 {
  width: 22.4rem;
}

.w-xs {
  width: 32rem;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/4 {
  width: 25%;
}

.w-full {
  width: 100%;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-9999 {
  z-index: 9999;
}

@media (min-width: 600px) {

  .sm\:flex {
    display: -webkit-box;
    display: flex;
  }

  .sm\:h-320 {
    height: 32rem;
  }

  .sm\:p-8 {
    padding: .8rem;
  }

  .sm\:p-32 {
    padding: 3.2rem;
  }

  .sm\:pb-16 {
    padding-bottom: 1.6rem;
  }
}

@media (min-width: 960px) {

  .md\:flex {
    display: -webkit-box;
    display: flex;
  }

  .md\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }

  .md\:w-400 {
    width: 40rem;
  }
}

@media (min-width: 1280px) {

  .lg\:pr-0 {
    padding-right: 0;
  }

  .lg\:pl-0 {
    padding-left: 0;
  }
}
